.cast {
  width: 199px;
  margin: 0 1rem 1rem 0;
  &__portrait {
    height: functions.toRem(232);
    width: functions.toRem(200);
    overflow: hidden;
    img {
      border-radius: functions.toRem(3.73);
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: functions.toRem(8);
  }

  &__character {
    color: $gray;
    font-weight: 500;
    margin: 0;
  }

  &__placeholder {
    border-radius: functions.toRem(3.73);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    height: 100%;
    width: 100%;
  }
}